@import '../../styles/abstracts/index';

.c-title {
  margin: 3rem 0;

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }

  @include media-breakpoint-down(lg) {
    margin: 3rem 0 1.5rem;

  }

  @include media-breakpoint-down(sm) {
    margin: 1.25rem 0;
    &__title{
      font-size: 1.8rem;
    }
  }
}
